header .navigation .basket-icon{
    margin-right: 30px;
    cursor: pointer;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

header .navigation .basket-icon i{
    position: absolute;
}

header .navigation .basket-icon p{
    position: absolute;
    margin-left: 30px;
}